.hero-title__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.hero-title__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
  font-size: 10vw;
  line-height: calc(10vw * 1.5);
}

.hero-title__image {
  margin-top: 0.5rem;
  width: 3rem;
  height: 3rem;
}

@media only screen and (min-width: 360px) {
  .hero-title__image {
    width: 3.825rem;
    height: 3.825rem;
  }
}

@media only screen and (min-width: 480px) {
  .hero-title__image {
    width: 4.5rem;
    height: 4.5rem;
  }
}

@media only screen and (min-width: 655px) {
  .hero-title__text {
    font-size: 4.5rem;
    line-height: calc(4.5rem * 1.5);
  }

  .hero-title__image {
    width: 5rem;
    height: 5rem;
  }
}
