.uncle-quil__container {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.uncle-quil__image {
  will-change: transform, opacity, rotate;
  position: absolute;
  animation: bounce-in-bottom 1s both,
    sway-from-left-to-right 5s ease-in-out infinite backwards;
  animation-delay: 0s, 1s;
}

@keyframes bounce-in-bottom {
  0% {
    margin-top: 500px;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    margin-top: -30px;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    margin-top: 65px;
    animation-timing-function: ease-in;
  }

  72% {
    margin-top: -15px;
    animation-timing-function: ease-out;
  }

  81% {
    margin-top: 28px;
    animation-timing-function: ease-in;
  }

  90% {
    margin-top: -5px;
    animation-timing-function: ease-out;
  }

  95% {
    margin-top: 8px;
    animation-timing-function: ease-in;
  }

  100% {
    margin-top: 0;
    animation-timing-function: ease-out;
  }
}

@keyframes sway-from-left-to-right {
  0% {
    transform: rotate(-2.5deg);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-2.5deg);
  }
}
